<div class="body">
  <% @brp_news.entries.each do |article| %>
  <% description = article.summary %>
  <% title = article.title %>
  <% link = article.link %>
  <% img_source = /(?<=\<img\ssrc\=\"|\')[\w\:\/\.]*(?=\"|\')/i.match article.yandex %>
  <div class="item">
    <% unless img_source.nil? %>
    <img src="http://rosan.com<%= img_source %>" alt="<%= title %>"/>
    <% end %>
    <p class="date"><%= article.published.to_formatted_s(:db) %></p>
    <p class="title"><%= link_to title, link %></p>
    <div class="desc"><%= link_to content_tag(:p, strip_tags(description)), link %></div>
  </div>
  <% end %>
</div>
