<!DOCTYPE html>
<html>
<head>
  <title>BRP Центр Тюмень - официальный дилер BRP в Тюмени</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49357241-1', 'forum-servis.su');
    ga('send', 'pageview');

  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="fancybox-buttons">
    <button data-fancybox-close class="fancybox-button fancybox-button--close" title="Закрыть">
      <svg viewBox="0 4 40 40">
        <path d="M10,10 L30,30 M30,10 L10,30" />
      </svg>
    </button>
  </div>
  <div class="navigation-svg">
    <div class="row">
      <div class="cell">
        <object data="assets/navigation-left-v2.svg" type="image/svg+xml" id="navigation-left" class="fleft cell"></object>
      </div>
      <div class="cell mid">
      <object data="assets/navigation-v2.svg" type="image/svg+xml" id="navigation" class="fleft cell"></object>
      </div>
      <div class="cell">
      <object data="assets/navigation-right-v2.svg" type="image/svg+xml" id="navigation-right" class="fleft cell"></object>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/header' %>
  <!--<nav>-->
    <!--<ul>-->
      <!--<li><a class="link" data-scrollto="#events">События</a></li>-->
      <!--<li><a class="link" data-scrollto="#about">О компании</a></li>-->
      <!--<li><a class="link" data-scrollto="#contacts">Контакты</a></li>-->
      <!--<li></li>-->
    <!--</ul>-->
  <!--</nav>-->
</header>

<div class="carousel btcf" id="top">
  <div id="carousel">
    <%= yield :carousel %>
  </div>
</div>

<main>
  <section class="about clear">
    <object data="assets/about-v2.svg" type="image/svg+xml" id="about"></object>
    <h1 class="section-title center">О компании</h1>
    <div class="content btcf">
      <div class="fleft header">
        <h2>Наши<span> Новости</span></h2>
        <div class="our-news">
          <section id="news">
            <%= render partial: 'shared/news' %>
          </section>
          <%= render partial: 'shared/next_news_button' %>
        </div>
      </div>
      <aside class="fright header">
        <h2>BRP<span> Центр Тюмень</span></h2>
        <div class="vk">
          <article>
            <div class="body">
                  <h3>Нет ничего более ценного, чем ваше свободное время.</h3>
                  <p>Вот почему BRP посвятил всю свою работу поиску новых решений на пути к активному отдыху.</p>
                  <p>70 лет инноваций и слаженная работа команды сделали технику BRP № 1 в мире.</p>
                  <%= image_tag 'team-inside.jpg' %>
                  <p>Снег, вода, лес, песок, слякоть, бездорожье под колесами и страсть к приключениям наполняет атмосферу незабываемыми и волнующими эмоциями в вашей жизни!</p>
                  <p>Каждый человек имеет право наслаждаться отдыхом.</p>
                  <p>Дмитрий выбрал надежный квадроцикл Can-Am Outlander 650 MAX XT для охоты и рыбалки. Алексей предпочитает покорять дикие склоны Алтая на снегоходе Ski-Doo Summit X 850. Татьяна любит водный экстрим на гидроцикле Sea-Doo Spark Trixx, а Стас выглядит эпически на новом Spyder F3. Всех нас объединяет страсть к активному отдыху.</p>
                  <p>Мы по достоинству оценили технику BRP.
                    <br>Теперь предлагаем оценить её вам.</p>
              <% unless @pricelist.blank? %>
                    <h2><a href="<%= @pricelist.filename.url %>">ТЕХНИКА В НАЛИЧИИ (СКАЧАТЬ)</a></h2>
              <% end %>
            </div>
          </article>
          <article>
            <div class="body table">
              <div class="row">
                <div class="cell">
                  <h1>W<i>E</i>LCOME TO BRP CLUB!</h1>
                  <p>Команда BRP Центр Тюмень.</p>
                </div>
              </div>
            </div>
          </article>

        </div>
      </aside>

      <div class="icons">
        <div class="list">
          <div class="row">
            <div class="cell">
              <i class="sprite srvs-sell"></i>
              <div>
                <p>Продажа новой и б/у техники</p>
              </div>
            </div>
            <div class="spacing"></div>
            <div class="cell">
              <i class="sprite srvs-warranty"></i>
              <div>
                <p>Ремонт мототехники и подвесных лодочных моторов</p>
              </div>
            </div>
            <div class="spacing"></div>
            <div class="cell">
              <i class="sprite srvs-repair"></i>
              <div>
                <p>Гарантийное и послегарантийное техническое обслуживание</p>
              </div>
            </div>
            <div class="spacing"></div>
            <div class="cell">
              <i class="sprite srvs-mobile-repair"></i>
              <div>
                <p>Эвакуация и помощь на месте</p>
              </div>
            </div>
            <div class="spacing"></div>
            <div class="cell">
              <i class="sprite srvs-conservation"></i>
              <div>
                <p>Консервация</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="brands clear">
    <object data="assets/brands-v2.svg" type="image/svg+xml" id="brands"></object>
    <h1 class="section-title center">Каталог</h1>
    <div class="content bctf">
      <div class="table">
        <ul>
          <li><a data-fancybox="catalog" data-type="iframe" href="javascript:;" data-src="https://www.brp-world.com/ru/brand.action?brandName=canamatv">Квадроциклы<br>Can-Am ATV</a></li>
          <li><a data-fancybox="catalog" data-type="iframe" href="javascript:;" data-src="https://www.brp-world.com/ru/brand.action?brandName=canamssv">Квадроциклы<br>Can-Am SSV</a></li>
          <li><a data-fancybox="catalog" data-type="iframe" href="javascript:;" data-src="https://www.brp-world.com/ru/brand.action?brandName=skidoo">Снегоходы<br>Ski-Doo</a></li>
          <li><a data-fancybox="catalog" data-type="iframe" href="javascript:;" data-src="https://www.brp-world.com/ru/brand.action?brandName=lynx">Снегоходы<br>Lynx</a></li>
        </ul>
      </div>
      <div class="table">
        <ul>
          <li><a data-fancybox="catalog" data-type="iframe" href="javascript:;" data-src="https://www.brp-world.com/ru/brand.action?brandName=seadoo">Гидроциклы<br>Sea-Doo</a></li>
          <li><a data-fancybox="catalog" data-type="iframe" href="javascript:;" data-src="https://www.brp-world.com/ru/brand.action?brandName=spyder">Родстеры<br>Spyder</a></li>
          <li><a data-fancybox="catalog" data-type="iframe" href="javascript:;" data-src="https://www.brp-world.com/ru/brand.action?brandName=evinrude">Лодочные моторы<br>Evinrude</a></li>
          <li><a href="https://www.brppac.com/" target="_blank">Запчасти и<br>аксессуары</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="contacts clear">
    <object data="assets/contacts-v2.svg" type="image/svg+xml" id="contacts"></object>
    <h1 class="section-title center">Контакты</h1>
    <div class="map">
      <div id="gis-map"></div>
    </div>
  </section>
</main>

<footer class="btcf">
  <object data="assets/footer-v2.svg" type="image/svg+xml" id="footer"></object>
  <div class="content">
    <div class="copyright">
      <p>Copyright © ТСК «Форум-Сервис» 2018&nbsp;г. Все права защищены.</p>
    </div>
    <div class="metrica">
      <!-- Yandex.Metrika informer --> <a href="https://metrika.yandex.ru/stat/?id=24735773&amp;from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/24735773/2_0_D7AC00FF_D7AC00FF_1_pageviews" style="width:80px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" class="ym-advanced-informer" data-cid="24735773" data-lang="ru" /></a> <!-- /Yandex.Metrika informer --> <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter24735773 = new Ya.Metrika({ id:24735773, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/24735773" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    </div>
    <div class="f7_full_logo">
      <a href="https://www.brp-world.com/ru/home.action" rel="nofollow" target="_blank"><i class="sprites-v2 BRP-logo f7_full_logo"></i><span>Официальный сайт BRP в России</span></a>
    </div>
    <div class="sprites-v2 logo-spaceheads"></div>
  </div>
</footer>

<!--<a class="sprites-v2 up animated" data-scrollto="#top"></a>-->

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function(){ var widget_id = '2ufraoHw9J';var d=document;var w=window;function l(){
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->

<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript">
  DG.then(function() {
    var map,
        icon,
        popUp;
    map = DG.map('gis-map', {
        center: [57.1644, 65.66655],
        zoom: 12,
        fullscreenControl: false,
        closePopupOnClick: false,
        scrollWheelZoom: false
    });
    icon = DG.icon({
        iconUrl: 'assets/map-pin.png',
        iconSize: [48, 64],
        iconAnchor: [24, 64],
        popupAnchor: [0, -8]
    });
    popUp1 = '<strong>BRP</strong>&nbsp;Центр&nbsp;Тюмень<br/><br/>' +
        'г. Тюмень<br/>' +
        'ул. Дачная, 2Б<br/>' +
        'тел.: +7 (3452) 68-55-44<br/>' +
        'e-mail: <a href="mailto:salon@685544.ru">salon@685544.ru</a>';
    // popUp2 = '<strong>BRP</strong>&nbsp;Club&nbsp;Komarovo<br/><br/>' +
    //     'г. Тюмень, Комарово<br/>' +
    //     'ул. Уездная, 144<br/>' +
    //     'тел.: +7 (3452) 68-55-44<br/>' +
    //     'e-mail: <a href="mailto:club@685544.ru">club@685544.ru</a>';
    DG.marker([57.1644, 65.66655], {
        icon: icon
    }).addTo(map).bindPopup(popUp1);
    // DG.marker([57.10285, 65.52310], {
    //     icon: icon
    // }).addTo(map).bindPopup(popUp2);
    // FSDivIcon = DG.divIcon({
    //     iconSize: [48, 64],
    //     html: 'ул. Дачная, 2Б'
    // });
    // DG.marker([57.164293, 65.666814], {
    //     icon: FSDivIcon
    // }).addTo(FSMap);

    // myMap.setCenter(new DG.GeoPoint(65.666528, 57.1580),13);
    // myMap.controls.add(new DG.Controls.Zoom());
    // b1 = new DG.Balloons.Common({
    //   geoPoint: new DG.GeoPoint(65.666528, 57.164327),
    //   contentHtml: 'ул. Дачная, 2Б'
    // });
    // m1 = new DG.Markers.Common({
    //   geoPoint: new DG.GeoPoint(65.666528, 57.164327),
    //   icon: new DG.Icon(
    //       'assets/map-pin.png',
    //       new DG.Size(48, 64)
    //   ),
    //   clickCallback: function() {
    //     if (! myMap.balloons.getDefaultGroup().contains(b1)) {
    //       myMap.balloons.add(b1);
    //     } else {
    //       b1.show();
    //     }
    //   }
    // });

    // FSMap.markers.add(m1);
    // FSMap.disableScrollZoom();
  });
</script>
</body>
</html>
