<!DOCTYPE html>
<html>
<head>
  <title>BRP Центр «Форум-Сервис» Официальный дилер BRP в Тюмени</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49357241-1', 'forum-servis.su');
    ga('send', 'pageview');

  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="top">
  <div class="navigation-svg">
    <div class="row">
      <div class="cell">
        <object data="assets/navigation-left.svg" type="image/svg+xml" id="navigation-left" class="fleft cell"></object>
      </div>
      <div class="cell mid">
      <object data="assets/navigation.svg" type="image/svg+xml" id="navigation" class="fleft cell"></object>
      </div>
      <div class="cell">
      <object data="assets/navigation-right.svg" type="image/svg+xml" id="navigation-right" class="fleft cell"></object>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="logo-forum-big fleft"></div>
    <div class="info-block fleft lborder">
      <p class="status">Официальный дилер BRP в Тюмени</p>
      <p class="phone">(3452) 68-55-44</p>
    </div>
  </div>
  <div class="logo-brp-big fright"></div>
  <nav>
    <ul>
      <li><a class="link" onclick="scrollTo('#events')">События</a></li>
      <li><a class="link" onclick="scrollTo('#brands')">Бренды</a></li>
      <li><a class="link" onclick="scrollTo('#about')">О компании</a></li>
      <li><a class="link" onclick="scrollTo('#contacts')">Контакты</a></li>
    </ul>
  </nav>
</header>

<div class="carousel btcf">
  <div id="carousel">
    <%= yield :carousel %>
  </div>
</div>

<main>
  <section class="events clear">
    <object data="assets/events.svg" type="image/svg+xml" id="events"></object>
    <h1>События</h1>
    <div class="content btcf">
      <div class="brp-news fleft">
        <h2 class="lborder">Новости BRP</h2>
          <%= yield %>
      </div>
      <div class="our-news fright">
        <h2 class="lborder">Наши новости</h2>
        <div class="vk">
          <script type="text/javascript" src="//vk.com/js/api/openapi.js?109"></script>

          <!-- VK Widget -->
          <div id="vk_groups"></div>
          <script type="text/javascript">
            VK.Widgets.Group("vk_groups", {mode: 2, width: "520", height: "600"}, 26281247);
          </script>
        </div>
      </div>
    </div>
  </section>

  <section class="brands clear">
    <object data="assets/brands.svg" type="image/svg+xml" id="brands"></object>
    <h1>Бренды</h1>
    <div class="content btcf">
      <div class="list">
        <div class="row">
          <a href="http://rosan.com/catalog/quadrocicly_can-am/" target="_blank" rel="nofollow">
            <div class="can-am cell">
              <div class="header">
                <div class="vhl-can-am"></div>
                <div class="logo">
                  <h3>Квадроциклы</h3>
                  <div class="logo-vhl-can-am"></div>
                </div>
              </div>
              <div class="body">
                <p>Can-Am® (Кэн-Эм)- вездеходы на все случаи жизни, оснащенные инновационными технологиями для максимальной проходимости в самых трудных условиях. ATV квадроциклы Can-Am созданы для того, чтобы изменить ваш стиль катания и повысить уровень комфорта. Удовольствие от езды в непроходимых условиях – возможно с квадроциклами Can-Am!</p>
              </div>
            </div>
          </a>
          <div class="spacing"></div>
          <a href="http://rosan.com/catalog/snegohody_ski-doo/" target="_blank" rel="nofollow">
            <div class="ski-doo cell">
              <div class="header">
                <div class="vhl-ski-doo"></div>
                <div class="logo">
                  <h3>Снегоходы</h3>
                  <div class="logo-vhl-ski-doo"></div>
                </div>
              </div>
              <div class="body">
                <p>Ski-Doo® (Ски-Ду) – бренд номер один в мире снегоходов по качеству, стилю, комфортабельности и высоким технологиям.</p>
              </div>
            </div>
          </a>
          <div class="spacing"></div>
          <a href="http://rosan.com/catalog/gidrotsikli-sea-doo/" target="_blank" rel="nofollow">
            <div class="sea-doo cell">
              <div class="header">
                <div class="vhl-sea-doo"></div>
                <div class="logo">
                  <h3>Гидроциклы</h3>
                  <div class="logo-vhl-sea-doo"></div>
                </div>
              </div>
              <div class="body">
                <p>Sea-Doo® (Си-Ду) - любимый бренд для тех, чья стихия – бесконечная водная гладь.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="row spacing"></div>
        <div class="row">
          <a href="http://rosan.com/catalog/rodstery_spyder/" target="_blank" rel="nofollow">
            <div class="spyder cell">
              <div class="header">
                <div class="vhl-spyder"></div>
                <div class="logo">
                  <h3>Родстеры</h3>
                  <div class="logo-vhl-can-am"></div>
                </div>
              </div>
              <div class="body">
                <p>Родстеры Spyder – родстеры нового измерения для тех, кто ценит стиль, качество и безопасность. Прост в управлении, идеален для путешествий и катаний по городу, миллионы километров дорог и скоростных магистралей созданы для него.</p>
              </div>
            </div>
          </a>
          <div class="spacing"></div>
          <a href="http://rosan.com/catalog/snegohody_lynx/" target="_blank" rel="nofollow">
            <div class="lynx cell">
              <div class="header">
                <div class="vhl-lynx"></div>
                <div class="logo">
                  <h3>Снегоходы</h3>
                  <div class="logo-vhl-lynx"></div>
                </div>
              </div>
              <div class="body">
                <p>Lynx® (Линкс) - синоним слова «снегоход» в Европе с большим количеством разнообразных моделей, разработанных специально с учетом европейских и российских снежных условий.</p>
              </div>
            </div>
          </a>
          <div class="spacing"></div>
          <a href="http://evinrude.rosan.com/" target="_blank" rel="nofollow">
            <div class="evinrude cell">
              <div class="header">
                <div class="vhl-evinrude"></div>
                <div class="logo">
                  <h3>Лодочные моторы</h3>
                  <div class="logo-vhl-evinrude"></div>
                </div>
              </div>
              <div class="body">
                <p>Evinrude® - навесные двигатели, разработанные по новым промышленным стандартам. Включают в себя новаторскую технологию E-TEC, позволяющую получить первоклассный опыт во время катания на моторных лодках.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="row spacing"></div>
        <div class="row">
          <a href="http://rosan.com/catalog/odezhda_i_aksessuary/" target="_blank" rel="nofollow">
            <div class="accessories cell">
              <div class="header">
                <div class="vhl-accesories"></div>
                <div class="logo">
                  <h3>Одежда и аксессуары</h3>
                  <div class="logo-vhl-accesories"></div>
                </div>
              </div>
              <div class="body">
                <p>В одежде и экипировке торговых марок Can-Am, Ski-Doo, Lynx, Sea-Doo, Spyder учтены самые современные технологии, использованы  лучшие утеплители и мембраны для комфортного использования с учетом погодных условий и особенностей эксплуатации техники.</p>
              </div>
            </div>
          </a>
          <div class="spacing"></div>
          <a href="http://rosan.com/catalog/tehnologii/" target="_blank" rel="nofollow">
            <div class="technology cell">
              <div class="header">
                <div class="vhl-technology"></div>
                <div class="logo">
                  <h3>Технологии</h3>
                  <div class="logo-vhl-technology"></div>
                </div>
              </div>
              <div class="body">
                <p>На рынке техники для активного отдыха BRP предлагает самую современную, технически совершенную и надежную продукцию, благодаря чему техника BRP покорила воду, снег и бездорожье!</p>
              </div>
            </div>
          </a>
          <div class="spacing"></div>
          <a href="http://rosan.com/club/fajly/" target="_blank" rel="nofollow">
            <div class="manuals cell">
              <div class="header">
                <div class="vhl-manuals"></div>
                <div class="logo">
                  <h3>Руководства по эксплуатации</h3>
                  <div class="logo-vhl-manuals"></div>
                </div>
              </div>
              <div class="body">
                <p>Несмотря на надежность и безопасность техники BRP, как и любая техника, она нуждается в грамотной эксплуатации , поэтому перед началом использования техники рекомендуем ознакомиться с руководством по эксплуатации.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="about clear">
    <object data="assets/about.svg" type="image/svg+xml" id="about"></object>
    <h1>О компании</h1>
    <div class="content btcf">
      <div class="header">
        <div class="logo-forum-small"></div>
        <div class="body">
          <p>BRP Центр "Форум-Сервис" с 1996 года официальный дилер компании Bombardier Recreational Products Inc. в Тюмени и на юге Тюменской области, занимается продажей и обслуживанием снегоходов Ski-Doo и Lynx, квадроциклов (мотовездеходов) Can-Am, гидроциклов  Sea-Doo, подвесных лодочных моторов Evinrude и неповторимых родстеров Spyder.</p>
        </div>
      </div>
      <div class="icons">
        <div class="list">
          <div class="row">
            <div class="cell">
              <i class="about-warranty"></i>
              <div>
                <p>Гарантийное и послегарантийное техническое обслуживание</p>
              </div>
            </div>
            <div class="spacing"></div>
            <div class="cell">
              <i class="about-service"></i>
              <div>
                <p>Ремонт мототехники и подвесных лодочных моторов</p>
              </div>
            </div>
            <div class="spacing"></div>
            <div class="cell">
              <i class="about-mobile-service"></i>
              <div>
                <p>Доставка техники</p>
              </div>
            </div>
            <div class="spacing"></div>
            <div class="cell">
              <i class="about-conservation"></i>
              <div>
                <p>Консервация</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contacts clear">
    <object data="assets/contacts.svg" type="image/svg+xml" id="contacts"></object>
    <h1>Контакты</h1>
    <div class="map">
      <div id="gis-map"></div>
    </div>
    <div class="card">
      <div class="text">
        <p>(3452) 68-55-44</p>
        <p>г. Тюмень, ул. Федюнинского, 43</p>
        <p>г. Тюмень, ул. Дачная, 2б</p>
        <p>salon@forum-servis.ru</p>
      </div>
    </div>
  </section>
</main>

<footer class="clear">
  <object data="assets/footer.svg" type="image/svg+xml" id="footer"></object>
  <div class="content">
    <ul class="nav">
      <li><a class="link" onclick="scrollTo('#events')">События</a></li>
      <li><a class="link" onclick="scrollTo('#brands')">Бренды</a></li>
      <li><a class="link" onclick="scrollTo('#about')">О компании</a></li>
    </ul>
    <div class="copyright">
      <p>Copyright © ТСК «Форум-Сервис» 2014 г. Все права защищены.</p>
    </div>
    <div class="metrica">
      <!-- Yandex.Metrika informer --><a href="https://metrika.yandex.ru/stat/?id=24735773&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/24735773/2_0_D7AC00FF_D7AC00FF_1_pageviews" style="width:80px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" onclick="try{Ya.Metrika.informer({i:this,id:24735773,lang:'ru'});return false}catch(e){}"/></a><!-- /Yandex.Metrika informer --><!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter24735773 = new Ya.Metrika({id:24735773, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/24735773" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
    </div>
    <div class="logo-spaceheads"></div>
  </div>
</footer>

<a class="up animated" onclick="scrollTo('#top')"></a>

<script type="text/javascript" src="http://maps.api.2gis.ru/1.0"></script>
<script type="text/javascript">
  DG.autoload(function() {
    var myMap = new DG.Map('gis-map');
    myMap.setCenter(new DG.GeoPoint(65.606374534373,57.137973599076),13);
    myMap.controls.add(new DG.Controls.Zoom());
    var b1 = new DG.Balloons.Common({
      geoPoint: new DG.GeoPoint(65.666528, 57.164327),
      contentHtml: 'ул. Дачная, 2б'
    });
    var m1 = new DG.Markers.Common({
      geoPoint: new DG.GeoPoint(65.666528, 57.164327),
      icon: new DG.Icon(
          'assets/pin.png',
          new DG.Size(48, 64)
      ),
      clickCallback: function() {
        if (! myMap.balloons.getDefaultGroup().contains(b1)) {
          myMap.balloons.add(b1);
        } else {
          b1.show();
        }
      }
    });

    var b2 = new DG.Balloons.Common({
      geoPoint: new DG.GeoPoint(65.546221, 57.111602),
      contentHtml: 'ул. Федюнинского, 43'
    });
    var m2 = new DG.Markers.Common({
      geoPoint: new DG.GeoPoint(65.546221, 57.111602),
      icon: new DG.Icon(
          'assets/pin.png',
          new DG.Size(48, 64)
      ),
      clickCallback: function() {
        if (! myMap.balloons.getDefaultGroup().contains(b2)) {
          myMap.balloons.add(b2);
        } else {
          b2.show();
        }
      }
    });
    myMap.markers.add(m1);
    myMap.markers.add(m2);
    myMap.disableScrollZoom();
  });
</script>
</body>
</html>
